<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1" verbose="1">

    <test name="ATB10XAPIAutomation">
      <classes>
          <class name="org.example.ex_02_RA_TestNg_AllureReport.APITesting006_TC_TestNG_Fix">
          </class>
      </classes>
    </test>
</suite>
